<footer class="bg-black ph1 pv2 white">
	<div class="mw9 center pt3">
		<div class="mw9 center ph3-ns">
			<div class="cf ph2-ns">
				<div class="fl w-100 w-50-ns pa2">
					<h3 class="f4 fw1 b lh-title mb1 primary">Liên hệ</h3>
					<ul class="mb3">
						{{ if isset .Site.Data.info "address" }}
						<li><span class="fw1">Địa chỉ:</span> {{.Site.Data.info.address}}</li>
						{{ end }}

						{{ if isset .Site.Data.info "phone" }}
						<li>
							<span class="fw1">Sdt:</span> <a href="tel:{{.Site.Data.info.phone}}" style="color: red">{{.Site.Data.info.phone}}</a>
							{{ if isset .Site.Data.info "phone2"}}
							<span class="fw1" style="">|</span>
							<a href="tel:{{.Site.Data.info.phone2}}" style="color: red">{{.Site.Data.info.phone2}}</a>
						{{ end }}
						</li>
						{{ end }}

						{{ if isset .Site.Data.info "email" }}
						<li><span class="fw1">Email:</span> <a href="mailto:{{.Site.Data.info.email}}">{{.Site.Data.info.email}}</a></li>
						{{ end }}

						{{ if isset .Site.Data.info "website" }}
						<li><span class="fw1">Website:</span> <a href="https://{{.Site.Data.info.website}}">{{ .Site.Data.info.website }}</a></li>
						{{ end }}
					</ul>
				</div>

				{{ if isset .Site.Data.info "mapUrl" }}
				<div class="fl w-100 w-50-ns pa2">
					<iframe src="{{.Site.Data.info.mapUrl}}" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				{{ end }}
			</div>
		</div>
	</div>
</footer>

<script src="/app.js"></script>

</body>

</html>
